:host{
    padding-bottom: 30px;
}
p {
    margin: 30px auto;
    width: 60%;
    font-size: medium;
    font-weight: 600;
}
#partie {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);

}
button {
    width: 30%;
    margin: 20px auto;
    padding: 5px;
    background-color: lightskyblue;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: darkblue;
    color: white;
}