:host{
    margin-top: auto;
    background-color: #e4f8ff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.social{
    display: flex;
    justify-content:center;
    gap: 25px;
}

.social > i {
    font-size: x-large;
    color:#55b5e0;
}

.social > i:hover{
    cursor: pointer;
    color:black;
}