<div id="cadreLogo">
    <img src="ping-pong.png" alt="logo raquettes ping pong">
</div>
<h3> Ping Pong Matcher</h3>
<div id="user">

    @if (this.connexions.someoneIsLog) {
    <a routerLink="/userHome"> Voir mon profil </a>
    <a id="logOut" (click)="processDeconnexion()"> Se déconnecter </a>
    }
    @else {
    <a id="showHorsLigne" (mouseenter)="showMessage()" (mouseleave)="closeMessage()" routerLink="/"> Se connecter</a>
    }
</div>

<div [ngClass]="showInfo()">
    Connectez vous pour voir votre profil
</div>