<div id="title">
    <div id="cadreLogo">
        <img src="ping-pong.png" alt="logo raquettes ping pong">
    </div>
    <h3> Ping Pong Matcher</h3>
    <div id="navMobile">
        <button (click)="toggleBurgerMenu()"> burger</button>
    </div>
</div>
@if (this.connexions.someoneIsLog) {

<div id="navDesktop">

    <a [ngClass]="getUrl() == '/trouverDesPersonnes' ? 'active' : ''" routerLink="/trouverDesPersonnes"> Chercher
        des personnes</a>
    <a [ngClass]="getUrl() == '/messages' ? 'active' : ''" routerLink="/messages"> Messages </a>
    <a [ngClass]="getUrl() == '/userHome' ? 'active' : ''" routerLink="/userHome"> Mon profil </a>
    <a id="logOut" (click)="processDeconnexion()"> déconnexion </a>
</div>
}

@if(this.showBurger){
<div id="menuDeroulant">
    <a [ngClass]="getUrl() == '/trouverDesPersonnes' ? 'active' : ''" routerLink="/trouverDesPersonnes"> Chercher
        des personnes</a>
    <a [ngClass]="getUrl() == '/messages' ? 'active' : ''" routerLink="/messages"> Messages </a>
    <a [ngClass]="getUrl() == '/userHome' ? 'active' : ''" routerLink="/userHome"> Mon profil </a>
    <a id="logOut" (click)="processDeconnexion()"> déconnexion </a>
</div>
}