<div id="title">
    <div id="cadreLogo">
        <img src="ping-pong.png" alt="logo raquettes ping pong">
    </div>
    <h3> Ping Pong Matcher</h3>
    @if(this.connexions.someoneIsLog){
    <div id="navMobile" (click)="toggleBurgerMenu()">
        <img src="burger.png" alt="burger menu">
    </div>
    }
</div>
@if (this.connexions.someoneIsLog) {

<div id="navDesktop">
    <a [ngClass]="getUrl() == '/trouverDesPersonnes' ? 'active' : ''" routerLink="/trouverDesPersonnes"> Chercher
        des personnes</a>
    <a [ngClass]="getUrl() == '/messages' ? 'active' : ''" routerLink="/messages"> Messages </a>
    <a [ngClass]="getUrl() == '/userHome' ? 'active' : ''" routerLink="/userHome"> Mon profil </a>
    <a [ngClass]="getUrl() == '/score' ? 'active' : ''" routerLink="/score"> Mes Scores </a>
    <a id="logOut" (click)="processDeconnexion()"> déconnexion </a>
</div>
}

<div id="menuDeroulant" [ngClass]="this.showBurger() ? 'activeBurger' : 'notActiveBurger' ">
    <img id="croix" (click)="toggleBurgerMenu()" src="cross.svg" alt="croix pour fermer">
    <a [ngClass]="getUrl() == '/trouverDesPersonnes' ? 'active' : ''" (click)="navigate('/trouverDesPersonnes')">
        Chercher
        des personnes</a>
    <a [ngClass]="getUrl() == '/messages' ? 'active' : ''" (click)="navigate('/messages')"> Messages </a>
    <a [ngClass]="getUrl() == '/userHome' ? 'active' : ''" (click)="navigate('/userHome')"> Mon profil </a>
    <a [ngClass]="getUrl() == '/score' ? 'active' : ''" (click)="navigate('/score')"> Mes Scores </a>
    <a id="logOut" (click)="processDeconnexion()"> déconnexion </a>
</div>