:host {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-color: lightblue;
    position: relative;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#cadreLogo {
    width: 60px;
    display: block;
}

#cadreLogo>img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

#navDesktop {
    border-top: solid 1px;
    padding: 20px 0;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 60%;
}


a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

a:hover {
    cursor: pointer;
}

#logOut {
    color: gray
}

#center {
    display: flex;
    flex-direction: column;
}

.active {
    border-bottom: 1px solid;
}

#navMobile {
    display: none;
}

@media screen and (max-width:650px) {

    #navDesktop {
        display: none;
    }

    #navMobile {
        display: block;
        width: 60px;
        height: 60px;
    }

    #navMobile:hover {
        cursor: pointer;
    }

    #navMobile>img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }


    .activeBurger{
        display: flex;
    }

}

#menuDeroulant {
    position: absolute;
    top: 130px;
    flex-direction: column;
    width: 80%;
    z-index: 10;
    background-color: lightblue;
    border-radius: 5px;
    border: solid 2px rgb(48, 61, 136);
}

#menuDeroulant>a {
    padding: 30px;
    width: 50%;
    margin: auto;
}

.notActiveBurger{
    display: none;
}

#croix{
    width: 30px;
    position: absolute;
    right: 5px;
    top: 5px
}

#croix:hover{
    cursor: pointer;
}