:host{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 150px;
    background-color: lightblue;
}
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#cadreLogo{
    width: 60px;
    display: block;
}

#cadreLogo > img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

#nav{
    border-top: solid 1px;
    padding: 20px 0;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 60%;
}


a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

#logOut{
    color: gray
}

#center{
    display: flex;
    flex-direction: column;
}

.active{
    border-bottom: 1px solid;
}
