#cadreMessages {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    margin-top: 30px;
    width: 95%;
    height: 650px;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 2px 8px rgb(126, 126, 126);
}

ul {
    display: block;
    text-align: center;
    border-right: solid 1px rgb(126, 126, 126);
    height: 100%;
    width: 20%;
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

li {
    border-right: solid 1px rgb(126, 126, 126);
}

li:hover {
    cursor: pointer;
}

app-conversation {
    margin: 0;
}

.active {
    background-color: #add8e6;
}

h3 {
    margin: 0 auto;
    font-size: medium;
    border-bottom: solid 1px rgb(107, 106, 106);
    padding: 10px 0;
    background-color:
}


#noMessages {
    width: 60%;
    margin: auto;
    margin-top: 100px;
    font-size: medium;
    font-weight: 600;
}

#noMessages>a {
    color: #3385a0;
}