#cadreMessages{
    display: flex;
    justify-content: flex-start;
    margin: auto;
    margin-top: 30px;
    width: 95%;
    height: 500px;
    border: solid 1px;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
}

ul {
    display: block;
    text-align: center;
    border-right: solid 1px;
    height: 100%;
    width: 20%;
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}

app-conversation{
    margin: 0;
}

.active{
    background-color: gray;
}


