#partie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 10px;
    border: solid 1px;
}

#set{
    width: 100%;
    border-top: solid 1px;
    padding: 5px;
}
