:host{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    position: relative;
    overflow: scroll;
}

.message{
    text-align: left;
    margin: 10px;
    background-color: lightblue;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
}

h3{
    padding: 5px;
    margin-top: 0;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#messageSender{
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

textarea {
    width: 80%;
    resize: none;
}

#sendArrow {
    width: 30px;
    height: 30px;
}

#sendArrow > img {
    margin-left:10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#sendArrow:hover{
    cursor: pointer;
}


#photo{
    width: 60px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
}
#photo > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#listeMessages{
    height: 80%;
    overflow: scroll;
}