:host{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    position: relative;
    overflow: scroll;
}

.message{
    text-align: left;
    margin: 10px;
    background-color: lightblue;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
}

h3{
    margin-top: 0;
    border-bottom: solid 1px;
}

#messageSender{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

textarea {
    width: 80%;
}

#sendArrow {
    width: 30px;
    height: 30px;
}

#sendArrow > img {
    margin-left:10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#sendArrow:hover{
    cursor: pointer;
}
