h3 {
    margin: 30px auto;
    width: 70%;
}

#partie {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);

}

