@if(connexions.someoneIsLog){
   
    <p> Voici des joueurs autour de votre position  </p>
    <select [formControl]="filterInput" (change)="applyFilter()">
        <option value="noFilter" selected>Pas de filtre</option>
        <option value="débutant">débutant</option>
        <option value="intermédiaire">intermédiaire</option>
        <option value="avancé">avancé</option>
    </select>
    @for( p of filteredPlayerInfo() ; track $index){
        <app-people-card-find (showParties)="toggleModalParties($event)" (createMessage)="createMessage($event)" [src]="p.src" [age]="p.age" [bio]="p.bio"
            [lieu]="p.lieu" [nbNotes]="p.nbNotes" [note]="p.note"
            [niveau]="p.niveau" [name]="p.name" (navigate)="this.navigate($event)">
        </app-people-card-find>
    }

    @if(showParties()){
        <div id="partie">
            <app-display-scores [name]="this.nameForParties()" [parties]="this.fakeParties.fakepartiesForFakePlayers" [closer]="true" (close)="toggleModalParties('unset')">
            </app-display-scores>
       </div>
    }
}
@else{
    <app-notconnected></app-notconnected>
}