h4 {
    margin: auto;
    margin-top: 30px;
    width: 70%;
}

#partie {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);

}

select {
    width: 40%;
    padding: 10px 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: border-color 0.3s;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    margin: 20px auto;
}

select:focus {
    outline: none;
    border-color: #55b5e0;
}